<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.qiyue.jia.calllogplugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>callLog</name>
    <js-module name="callLog" src="www/callLog.js">
        <clobbers target="callLog" />
    </js-module>
	
	<platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="callLog">
        <param name="android-package" value="com.qiyue.jia.calllogplugin.CallLogPlugin"/>
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    </config-file>
	
	<framework src="com.mylhyl:acp:1.1.6" />
    <source-file src="src/android/CallLogPlugin.java" target-dir="src/com/qiyue/jia/calllogplugin"/>
    <source-file src="src/android/CallInfoLog.java" target-dir="src/com/qiyue/jia/calllogplugin"/>
    <source-file src="src/android/Util/TransitionTime.java" target-dir="src/com/qiyue/jia/calllogplugin/Util"/>
  </platform>
</plugin>
